@page
@model Barlangok.Pages.TelepulesekModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>Település</th>
            <th>Barlangok száma</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var telepules in Model.barlangok)
        {
            <tr>
                <td>@telepules.Telepules</td>
                <td>@telepules.BarlangokSzama</td>
            </tr>
        }
    </tbody>
</table>

